input{
	font-size: 120%;
}

.input-close .dropdown{
	margin: 0 auto;
	width: 80%;
}
.dropdown img{
	width: 60%;
	display: inline-block;
}

.regresar{
	position: absolute;
	top: 2%;
	left: 5%;
}

.regresar a{
	color: black;
}

#boton_telefono{
	text-decoration: none;
	color: white;
}